client
dev tun
proto udp
remote #{server[:host]} #{server[:port]} udp
remote-random
resolv-retry infinite
nobind
persist-key
persist-tun
comp-lzo
\#
\#tls-remote must equal CN of ca in the hosts x509
\#
tls-remote #{server[:host]}

float
cipher AES-256-CBC
comp-lzo
verb 3
ping 30

- if type == :default
  <dh>
  #{dh}
  </dh>

  <ca>
  #{ca}
  </ca>

  <cert>
  #{cert}
  </cert>

  <key>
  #{key}
  </key>

  <tls-auth>
  #{ta}
  </tls-auth>

- else
  tls-client
  tls-auth ta.key 1
  pull
  ca ca.crt
  dev tun
  persist-tun
  cert #{user}-#{(revoked.max || - 1) + 1}.crt
  nobind
  key #{user}-#{(revoked.max || - 1) + 1}.key
  remote-cert-tls server

:plain
